@import "../../styles/mixins.scss";

.toolbar {
  position: absolute;
  top: 31px;
  left: 0;
  width: 100%;
  display: flex;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
}
.label {
  background-color: #d9d9d9;
  color: #060505;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}
